[submodule "uitests-drive"]
	path = uitests-drive
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-drive.git
[submodule "uitests-youtube"]
	path = uitests-youtube
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-youtube.git
[submodule "uitests-spotify"]
	path = uitests-spotify
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-spotify.git
[submodule "uitests-shazam"]
	path = uitests-shazam
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-shazam.git
[submodule "uitests-firefox"]
	path = uitests-firefox
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-firefox.git
[submodule "uitests-snapchat"]
	path = uitests-snapchat
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-snapchat.git
[submodule "uitests-messenger"]
	path = uitests-messenger
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-messenger.git
[submodule "uitests-facebook"]
	path = uitests-facebook
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-facebook.git
[submodule "uitests-dailymotion"]
	path = uitests-dailymotion
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-dailymotion.git
[submodule "uitests-preference_network"]
	path = uitests-preference_network
	url = git@github.com:MPTCP-smartphone-thesis/uitests-preference_network.git
	branch = master
[submodule "uitests-multipath_control"]
	path = uitests-multipath_control
	url = git@github.com:MPTCP-smartphone-thesis/uitests-multipath_control.git
	branch = master
[submodule "uitests-ssh_tunnel"]
	path = uitests-ssh_tunnel
	url = git@github.com:MPTCP-smartphone-thesis/uitests-ssh_tunnel.git
	branch = master
[submodule "uitests-kill_app"]
	path = uitests-kill_app
	url = git@github.com:MPTCP-smartphone-thesis/uitests-kill_app.git
	branch = master
[submodule "uitests-firefoxspdy"]
	path = uitests-firefoxspdy
	url = git@github.com:MPTCP-smartphone-thesis/uitests-firefoxspdy.git
	branch = master
[submodule "uitests-shadow_socks"]
	path = uitests-shadow_socks
	url = git@github.com:MPTCP-smartphone-thesis/uitests-shadow_socks.git
	branch = master
