[submodule "uitests-twitter"]
	path = uitests-twitter
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-twitter.git
[submodule "uitests-drive"]
	path = uitests-drive
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-drive.git
[submodule "uitests-photos"]
	path = uitests-photos
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-photos.git
[submodule "uitests-youtube"]
	path = uitests-youtube
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-youtube.git
[submodule "uitests-spotify"]
	path = uitests-spotify
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-spotify.git
[submodule "uitests-shazam"]
	path = uitests-shazam
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-shazam.git
[submodule "uitests-instagram"]
	path = uitests-instagram
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-instagram.git
[submodule "uitests-viber"]
	path = uitests-viber
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-viber.git
[submodule "uitests-firefox"]
	path = uitests-firefox
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-firefox.git
[submodule "uitests-whatsapp"]
	path = uitests-whatsapp
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-whatsapp.git
[submodule "uitests-chrome"]
	path = uitests-chrome
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-chrome.git
[submodule "uitests-snapchat"]
	path = uitests-snapchat
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-snapchat.git
[submodule "uitests-messenger"]
	path = uitests-messenger
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-messenger.git
[submodule "uitests-facebook"]
	path = uitests-facebook
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-facebook.git
[submodule "uitests-dropbox"]
	path = uitests-dropbox
	branch = master
	url = git@github.com:MPTCP-smartphone-thesis/uitests-dropbox.git
